<style>
    .main {
        width: 50%;
        margin: auto;
    }
</style>
<div class="main">
    <h2>Experience</h2>
    <p>
        04/2012 – <br>
        Hallituksen jäsen
        Kiinteistöjen siivous ja rakennustyöt
    </p>
    
    <p>
        Unik Rakennus Oy, kesätyöt ( 6 kk )
        Laatoittaja
    </p>

    <p>
        Tammitalot Oy
        2016–2018<br>
        Laatoittaja
        Kylpyhuoneiden rakennus
        VTT vesieristys sertifikaatti
    </p>

    <p>
        Uudenmaan Siivous – ja Kodinhoito Palvelut Oy
		2010–2012<br>
        Siivooja  
    </p>
    <p>
        Semuehitus As
		2006–2010 <br>
        Rakennustyöt, Viro
    </p>

	<p>
        Viron Puolustusvoimat, Rajavalvonta
		1991–2006<br>
        Luutnantti, ryhmänjohtaja, rajavartiolaitoksen apulaispäällikkö
    </p>	

</div>
