<style>
    .main {
        width: 50%;
        margin: auto;
    }
</style>
<div class="main">
    <h2>Skills</h2>

    <p>
        Metropolia ammattikorkeakoulu, 181 / 240 op 2020 – <br>
        Pääaine: Ohjelmistotuotanto
    </p>
    <p></p>
    <p>
        Omnia, 180 op. 2018–2020<br>
        Tieto ja viestintätekniikka / Datanomi.
    </p>
    <p>
        Helsingin avoin yliopisto, 8 / 8 op
        01.06.2019 <br>Fullstack, React websovelluskehitys
    </p>

    <p>
        TÜ avoin korkeakoulu ( Viro, Tartu ), 6 op
        15.10.2018 –11.03.2019 <br>Kurssi: Python ohjelmointi
    </p>
    <p>
        TTÜ avoin korkeakoulu ( Viro, Tallinn ), 12 op
        2017 / IT järjestelmän kehittämine  (ensimmäinen lukukausi) 
    </p>

    <p>
        Muraste Rajavartiokoulu
    2001–2002 <br>Rajavartijan koulutus, Viro
    </p>

    <p>
        Estonian Academy of Security Sciences
        1994–1995 <br>Upseerin koulutus
    </p>

    <p>
        Lukio ja ammattikoulu
        1985–1988<br>
        KKK – 45. Rakennusala, Viro
    </p>


    <p>
        Peruskoulu
        1977–1985<br>
        Antsla KK, Viro
    </p>


</div>