

<style>
  
  .main {
    width: 70%;
    margin: auto;
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  
  color: white;
  position: fixed; /* Stick to the top */
  width: 70%;

  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ff9800;
}

.content {
  margin-top: 100px;
}
</style>

<div class="main">
  <nav class="navbar">
    <div class="navbar-logo">CV:ni</div>
    <ul class="navbar-links">
      <li><a routerLink="">About</a></li>
      <li><a routerLink="skills">Skills</a></li>
      <li><a routerLink="experience">Experience</a></li>
    </ul>
  </nav>

  

  <div class="content">
    <router-outlet 
    
    />
  </div>

</div>
